<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Search Engine</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div id="search_query_panel">
      <div id="search_bar">
        <form action="/search" method="post">
          <input
            type="text"
            name="search_query"
            placeholder="Enter your search query"
          />
          <button type="submit">Search</button>
        </form>
      </div>
    </div>

    <div id="current_video_panel">
      <h2>Video Details</h2>
      {% if video_details %}
        <div>
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/{{ video_details.videoInfo.id }}"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
          <!-- Add more details as needed -->
        </div>
        <h3>{{ video_details.videoInfo.snippet.title }}</h3>
        <p>{{ video_details.videoInfo.snippet.description }}</p>
        <p>Views: {{ video_details.videoInfo.statistics.viewCount }}</p>
        
      {% else %}
        <p>No video details found for the specified video ID.</p>
      {% endif %}
    </div>
    <div id="search_result_panel" style="overflow-y: auto; max-height: 100vh;">
      <h2>Search Result Panel</h2>
      <!-- Display search results here -->
      {% for result in search_results %}
      <div class="video-block">
        <a href="/video/{{ result.videoInfo.id }}" class="video-link">
          <img src="{{ result.videoInfo.snippet.thumbnails.default.url }}" alt="Video Thumbnail" class="video-thumbnail">
          <div class="video-details">
            <p>{{ result.videoInfo.snippet.title }}</p>
          </div>
        </a>
      </div>
    {% endfor %}
    </div>
  </body>
</html>
